exportPattern("^[[:alpha:]]+")

importFrom("graphics", "lines", "par", "plot", "points", "polygon",
             "segments")
importFrom("stats", "rbinom", "rexp", "rlnorm", "rpois", "runif")

importFrom("deldir", "deldir", "which.tile", "tile.list")
importFrom("intrval", "%)(%", "%[]%", "%[)%", "%][%")
importFrom("mefa4", "Xtab")
importFrom("MASS", "mvrnorm")
importFrom("grDevices", "col2rgb")
importFrom("pbapply", "pbreplicate")

S3method(plot, bsims_landscape)
S3method(plot, bsims_population)
S3method(plot, bsims_events)
S3method(plot, bsims_detections)
S3method(plot, bsims_transcript)
S3method(plot, bsims_events_table)
S3method(plot, bsims_detections_table)

S3method(lines, bsims_events)
S3method(lines, bsims_detections)
S3method(lines, bsims_transcript)

S3method(points, bsims_events)
S3method(points, bsims_population)
S3method(points, bsims_detections)

S3method(print, bsims_landscape)
S3method(print, bsims_population)
S3method(print, bsims_events)
S3method(print, bsims_detections)
S3method(print, bsims_transcript)
